.logo-inicio{
    width: 50px;
    height: 40px;
}
.carrusel{
    margin: auto;
    width: 80%;
    height: 40%;
}
.navbar{
    background-color: #027933;
}
.img-presentacion{
    width: 400px;
    height: 400px;
}
.fondo-principal{
    background-color: #a8dabd;
}
.pie-pagina{
    background-color: #027933;
}
.link-rrss:active, .link-rrss:visited, .link-rrss:link{
    text-decoration: none;
}